@using DIUB.Models
@model IEnumerable<DIUB.Models.Tbl_SectionDistribution>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<hr />



        <table class="table">
            <tr>

                <th>
                   Subject
                </th>
                
                
                <th>
                   Day
                </th>
                <th>
                    Time
                </th>
                <th>
                    Day
                </th>
                <th>
                    Time
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tbl_Semester.SemesterName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_SubjectDetails.SubjectName)- @Html.DisplayFor(modelItem => item.SectionName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Day1)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.ClassStart)-@Html.DisplayFor(modelItem => item.ClassEnd)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Day2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassStart2)-  @Html.DisplayFor(modelItem => item.ClassEnd2)

                </td>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Tbl_Semester.SemesterName)
                </td>
               


                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
            }

        </table>

