@model IEnumerable<DIUB.Models.Tbl_FinalResult>

@{
    ViewBag.Title = "MarksFinal";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MarksFinal</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResultID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeacherName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudentName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SemesterID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attandance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabPerformance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quiz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Performance)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Final)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalMarksFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GradeFinal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab05)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab06)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab07)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lab08)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LabFinal)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResultID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TeacherName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudentName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SemesterID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attandance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabPerformance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Quiz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Performance)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Final)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TotalMarksFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GradeFinal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab05)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab06)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab07)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lab08)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LabFinal)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
