@model IEnumerable<DIUB.Models.Tbl_Notes>

@{
    ViewBag.Title = "Notes";
    Layout = "~/Views/Shared/_TeacherLayout.cshtml";
}

<h2>Notes</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NotesID)
        </th>
      
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SectionID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SubjectID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NotesID)
        </td> 
       
        <td>
            @Html.DisplayFor(modelItem => item.Note)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SectionID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SubjectID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
